<footer class="footer">
    <div class="footer__contenedor">
        <!-- Información -->
        <section class="footer__columna" aria-labelledby="footer-informacion">
            <h2 id="footer-informacion" class="footer__titulo">
                Información
            </h2>
            <address class="footer__direccion">
                Oficina Principal<br>
                Cra 116a #65-78<br>
                Bogotá, Colombia
            </address>
        </section>
        <!-- asociaciones -->
        <nav class="footer__columna" aria-labelledby="footer-asociaciones">
            <h2 id="footer-asociaciones" class="footer__titulo">
                Asociaciones
            </h2>
            <ul class="footer__lista">
                <li><a href="#">Coleccionables</a></li>
                <li><a href="#">Colaboraciones</a></li>
                <li><a href="#">Garantía Calidad</a></li>
            </ul>
        </nav>

        <!-- enlaces -->
        <nav class="footer__columna" aria-labelledby="footer-enlaces">
            <h2 id="footer-enlaces" class="footer__titulo">
                Enlaces
            </h2>
            <ul class="footer__lista">
                <li><a href="#">Paletas</a></li>
                <li><a href="#">Eventos</a></li>
                <li><a href="#">Contáctanos</a></li>
            </ul>
        </nav>
        <!-- Redes sociales -->
        <section class="footer__columna footer__social" aria-labelledby="footer-redes">
            <h2 id="footer-redes" class="footer__titulo">
                Síguenos
            </h2>
            <div class="footer__redes">
                <a href="#"
                   class="footer__red-social"
                   aria-label="Visitar Instagram de Paletas de Hielo">
                    <img
                        src="assets/imagenes/red1.png"
                        alt=""
                        width="45"
                        height="45"
                    >
                </a>
                <a href="#"
                   class="footer__red-social"
                   aria-label="Visitar X de Paletas de Hielo">
                    <img
                        src="assets/imagenes/red2.png"
                        alt=""
                        width="45"
                        height="45"
                    >
                </a>
                <a href="#"
                   class="footer__red-social"
                   aria-label="Visitar Facebook de Paletas de Hielo">

                    <img
                        src="assets/imagenes/red3.png"
                        alt=""
                        width="45"
                        height="45"
                    >

                </a>

            </div>


            <a href="#"
               class="footer__admin">
                Acceder admin
            </a>

        </section>

    </div>

</footer>