<header class="header">
    <nav class="navbar" aria-label="Navegación principal">
        <!-- logo-->
        <a href="home.html" class="navbar__logo" aria-label="Ir al inicio">
            <img src="assets/imagenes/logo.svg"
                 alt="Paletas de Hielo">
        </a>
        <!-- menu principal -->
        <ul class="navbar__menu">
            <li>
                <a href="home.html" class="navbar__link navbar__link--active">
                    Inicio
                </a>
            </li>
            <li>
                <a href="#" class="navbar__link">
                    Paletas
                </a>
            </li>
            <li>
                <a href="#" class="navbar__link">
                    Eventos
                </a>
            </li>
            <li>
                <a href="#" class="navbar__link">
                    Contáctanos
                </a>
            </li>
        </ul>
        <!-- acciones -->
        <div class="navbar__acciones">
            <a href="#"
               class="navbar__icono"
               aria-label="Ver carrito de compras">
                <img src="assets/iconos/carrito.svg"
                     alt="">
            </a>
            <a href="entradaadministrador.html"
            class="navbar__icono"
            aria-label="Acceder al administrador">
            <img src="assets/iconos/admin.svg" alt="">
            </a>

        </div>
    </nav>
</header>

